.home__page {
  padding-bottom: 20px;
}
.movie__card-flex {
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination > li {
  list-style: none;
  border: 0.3px solid;
  padding: 4px 6px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 500;
  transition: all linear 0.4s;
}
.pagination li:hover {
  border-color: aqua;
  color: aqua;
}
.active-page {
  border-color: aqua;
  color: aqua;
}

@media screen and (min-width: 370px) and (max-width: 576px) {
  .movie__card-flex {
    margin: 0 auto;
    justify-content: center;
  }
  .pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .movie__card-flex {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .movie__card-flex {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    justify-content: center;
    gap: 10px;
  }
}
