.movie__card {
  border: 1px solid #999;
  border-radius: 6px;
  width: 300px;
  overflow: hidden;
  padding-bottom: 15px;
  cursor: pointer;
}
.card__img {
  width: 100%;
  overflow: hidden;
}
.card__img img {
  max-width: 300px;
  transition: all linear 0.4s;
}
.movie__card:hover img {
  transform: scale(1.1);
}
.card__info {
  padding: 10px 10px;
}
.info__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.info__header h3 {
  font-size: 16px;
}
.info__header span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border: 1px solid lightblue;
  border-radius: 4px;
  font-size: 14px;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .movie__card {
    width: 270px;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .movie__card {
    width: 248px;
  }
}
